# Dépendances
node_modules/
.pnpm-store/
.turbo/
.next/
dist/
build/
# Build output
dist/
.vite/
out/

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files (gardez .env.example)
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
